<section id="task-modal" onclick="closeModalClickEvent(event)" class="modal vertical-center hidden">
    <div class="modal-window">
        <div class="modal-content vertical-center">
            <form id="task-form" data-task-id="0" class="vertical-center">
                <label for="task-title">Task title</label>
                <input type="text" id="task-title" name="task-title" maxlength="100" placeholder="Enter your task title" required>

                <label for="task-description">Task descriptor</label>
                <textarea type="text" id="task-description" name="task-description" maxlength="500" placeholder="Enter your description here"></textarea>

                <label for="task-datetime">Time & Date:</label>
                <div class="datetime horizontal-center">
                    <label for="task-date" class="hidden">Date:</label>
                    <input type="date" id="task-date" name="task-datetime">

                    <label for="task-time" class="hidden">Time:</label>
                    <input type="time" id="task-time" name="task-datetime">
                </div>
            </form>

            <% let createIconData = {width: "24", height: "24", fill: "none", xmlns: "http://www.w3.org/2000/svg",
                paths: [{d: "M8.5 12h8m-4 4V8m-3 14h6c5 0 7-2 7-7V9c0-5-2-7-7-7h-6c-5 0-7 2-7 7v6c0 5 2 7 7 7Z",
                    stroke: "#070B11", strokeWidth: "3", strokeLinecap: "round", strokeLinejoin: "round"}]}%>
            <% let updateIconData = {width: "24", height: "24", fill: "none", xmlns: "http://www.w3.org/2000/svg",
                paths: [{d: "M8.5 12h8m-4 4V8m-3 14h6c5 0 7-2 7-7V9c0-5-2-7-7-7h-6c-5 0-7 2-7 7v6c0 5 2 7 7 7Z",
                    stroke: "#070B11", strokeWidth: "3", strokeLinecap: "round", strokeLinejoin: "round"}]}%>
            <% let deleteIconData = {width: "24", height: "24", fill: "none", xmlns: "http://www.w3.org/2000/svg",
                paths: [{d: "M8.5 12h8m-4 4V8m-3 14h6c5 0 7-2 7-7V9c0-5-2-7-7-7h-6c-5 0-7 2-7 7v6c0 5 2 7 7 7Z",
                    stroke: "#070B11", strokeWidth: "3", strokeLinecap: "round", strokeLinejoin: "round"}]}%>

            <div class="horizontal-center btns">
                <%- include('./button', { button: {id: "create-task", text: "Create", icon: createIconData} }) %>
                <%- include('./button', { button: {id: "update-task", onClick: `updateTask()`, text: "Update", icon: updateIconData } }) %>
                <%- include('./button', { button: {id: "delete-task", onClick: `deleteTask()`, text: "Delete", icon: deleteIconData} }) %>
            </div>
        </div>
    </div>
</section>