@import "normalize.css";

/* ----------------- Root Variables ----------------- */
:root {
    --bg-secondary: #31363D;
    --background: #23262B;
    --accent: #873FD3;
    --accent-secondary: #EBA84A;
    --text-secondary: #BEBEBE;
    --text-primary: #E6E6E6;
    --icon-black: #070B11;

    /* ------------------ font ------------------ */
    --font-primary: 'Open Sans', system-ui;
    --font-size-base: 16px;
    --font-size-large: 20px;
    --font-size-larger: 24px;
    --font-size-small: 12px;

    /* ------------------ space ------------------ */
    --space-base: 64px;
    --space-large: 64px;
    --space-small: 64px;

    --space-components-base: 24px;
    --space-components-small: 20px;
    --space-components-smaller: 12px;

    /* ------------------ transitions ------------------ */
    --transition-base: 0.3s ease;
}

/* ----------------- Global Styles ----------------- */
body {
    background: var(--background);
    padding: var(--space-large) 0;
}

button {
    border: none;
    cursor: pointer;
    background: var(--accent);
    gap: var(--space-components-base);
    padding: var(--space-components-small);
}

button span {
    color: var(--text-primary);
    font-size: var(--font-size-larger);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

input,
textarea {
    caret-color: var(--accent-secondary);
    color: var(--text-primary);

    font-size: var(--font-size-large);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

/* --- Placeholder Styles --- */
input::placeholder,
textarea::placeholder {
    color: var(--text-secondary);
    font-size: var(--font-size-base);
    font-weight: 300;
    line-height: 100%;
}

/* --- Placeholder Styles for old browser --- */
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--text-secondary);
    font-size: var(--font-size-base);
    font-weight: 300;
    line-height: 100%;
}

/* ----------------- Utility Classes ----------------- */
.vertical-center, .horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center {
    flex-direction: column;
}

.horizontal-center {
    flex-direction: row;
}

/* ----------------- Layout Styles ----------------- */
main {
    gap: var(--space-large);
    overflow: hidden;
}

/* ----------------- Text Styles ----------------- */
h1, h2, h3, h4, h5, h6, p, label, span {
    font-family: var(--font-primary), sans-serif;
}

/* ----------------- Animated Buttons ----------------- */

button[id^="create-task"],
button[id^="main-create-task"],
button[id^="update-task"],
button[id^="delete-task"] {
    padding: var(--space-components-small) var(--space-components-base);
    transition: background var(--transition-base);
}

button[id^="open-filters"] {
    transition: background var(--transition-base);
}

button[id^="create-task"]:hover,
button[id^="main-create-task"]:hover,
button[id^="update-task"]:hover,
button[id^="delete-task"]:hover,
button[id^="open-filters"]:hover {
    background: var(--accent-secondary);
}

/* ----------------- Components ----------------- */

/* --- Search Bar --- */
.search {
    gap: var(--space-components-base);
    width: 600px;
}

.search-bar {
    background: var(--bg-secondary);
    padding: var(--space-components-base);
    gap: var(--space-components-smaller);
    max-height: 64px;
    width: 100%;
}

.search-bar input {
    width: 100%;
}

.search-bar svg path {
    transition: stroke var(--transition-base), fill var(--transition-base);
}

.search-bar svg:hover {
    cursor: pointer;
}

.search-bar svg:hover path{
    stroke: var(--accent-secondary);
    fill: var(--accent-secondary);
}

/* --- Statistics Bar --- */
.statistics {
    width: 600px;
    gap: var(--space-components-base);

    color: var(--text-primary);
    font-size: var(--font-size-larger);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.statistics .progress-bar {
    align-items: flex-start;
    border: 1.5px solid var(--icon-black);
    border-radius: 12px;
    gap: 10px;
    width: 100%;
}

.statistics .progress-bar .progress {
    background: var(--accent-secondary);
    border-radius: 12px;
    height: 20px;

    width: 0;
    transition: width 3s var(--transition-base);
}

/* --- Tasks section --- */
.tasks {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.tasks article {
    width: 100%;
    max-width: 540px;
    gap: var(--space-components-base);
}

.task {
    background: var(--bg-secondary);
    padding: var(--space-components-small) var(--space-components-base);
    gap: var(--space-components-base);
    width: 100%;
    cursor: pointer;
}

.task button {
    padding: 14px;
    cursor: default;
}

.task h3,
.task span {
    cursor: text;
    line-height: 1;
    font-style: normal;
}

.task svg:hover path {
    stroke: var(--accent-secondary);
}

.task-content {
    align-items: flex-start;
    width: 100%;
    gap: var(--space-components-small);
}

.task h3 {
    color: var(--text-primary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}

.task span {
    color: var(--text-secondary);
    text-transform: lowercase;
    font-weight: 400;
    font-size: var(--font-size-small);
}

/* --- Modal window for the new task --- */
.blurred {
    filter: blur(4px);
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(35, 38, 43, 0.4);
    /*background: rgba(0, 0, 0, 0.5);*/
    z-index: 1000;
}

.modal-window {
    width: 80%;
    height: 90%;
    max-width: 800px;
    max-height: 800px;
    border-radius: 24px;
    background: var(--bg-secondary);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 100%;
    height: 100%;
    padding: 8% 12%;
    gap: 64px;
}

.modal form {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.modal form label {
    color: var(--text-secondary);
    font-size: var(--font-size-larger);
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.modal-content .btns {
    width: 100%;
    justify-content: space-around;
}

form[id^="new-task-form"] input,
form[id^="new-task-form"] textarea {
    width: 100%;
    padding: 24px;
    background: var(--background);
    resize: none;
    border: none;
    outline: none;
}

form[id^="new-task-form"] textarea[id^="task-description"]{
    min-height: 120px;
}

form[id^="new-task-form"] .datetime {
    width: 100%;
    justify-content: space-between;
}

form[id^="new-task-form"] .datetime input {
    width: auto;
}

form[id^="new-task-form"] .datetime input[id^="task-date"] {
    min-width: 240px !important;
}

.hidden {
    display: none;
}

body.no-scroll {
    overflow: hidden;
}

/* ----------------- Media Queries ----------------- */
@media (max-width: 834px) {
    .tasks {
        justify-content: center;
        align-items: center;
    }
}